@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Database Css</h1>
    <div class="example a"></div>
    <div class="example b"></div>
    <div class="example c"></div>
</div>